body{
    background-color: rgb(184, 232, 39);
}

h1{
    color: rgb(255, 0, 0);
    margin-left: 100px;
}
h3{
    color: rgb(4, 8, 231);
    margin-left: 23px;
}
h2{
    color: rgb(255, 8, 8);
    margin-left: 130px;
}
img{
    width: 300px;
    border-radius: 22px;
}




